<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Контакты</title>
</head>

<body>
    <div class="container">
        <div class="page-header">
            <div class="logo">
                <a href="/"><img src="/static/img/logo.png" alt="Логотип" width="125px" title="Перейти на главную страницу"></a>
            </div>
            <ul class="menu">
                <li><a href="/" title="Перейти на главную страницу">Главная</a></li>
                <li><a href="/products/" title="Перейти на страницу каталога">Каталог</a></li>
                <li><a href="/contact/">Контакты</a></li>
            </ul>
        </div>

        <div class="content">
            <hr>
            <h1>Контакты</h1>
            <h3>Обратная связь</h3>
            <p>Задайте любой интересующий вопрос с помощью формы обратной связи</p>
            <form action="">
                <label for="name-field">Ваше имя:</label><br>
                <input type="text" placeholder="Имя" id="name-field"><br>

                <label for="surname-field">Ваша фамилия:</label><br>
                <input type="text" placeholder="Фамилия" id="surname-field"><br>

                <label for="city-field">Город:</label><br>
                <input type="text" placeholder="Город" id="city-field"><br>

                <label for="email-field">E-mail:</label><br>
                <input type="email" placeholder="Эл. почта" id="email-field"><br>

                <label for="message-field">Текст сообщения:</label><br>
                <textarea cols="60" rows="10" placeholder="Пожалуйста, постарайтесь максимально точно описать свой вопрос." id="message-field"></textarea><br>

                <input type="reset" value="Очистить форму">
                <input type="submit" value="Отправить">
            </form>
            <div class="map">
                <h3>Наш адрес: 125362, г. Москва, ул. Тушинская 16
                </h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2241.040846680569!2d37.44318012848745!3d55.82725031075546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54875631f169b%3A0xda991ee45957397b!2z0KLRg9GI0LjQvdGB0LrQsNGPINGD0LsuLCAxNiwg0JzQvtGB0LrQstCwLCAxMjUzNjI!5e0!3m2!1sru!2sru!4v1583432775522!5m2!1sru!2sru" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>

        <div class="page-footer">
            <hr>
            <p>&laquo;Технотрейд&raquo; &copy; &laquo;Все права защищены&raquo;</p>
        </div>
    </div>
</body>

</html>
