<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Каталог товаров</title>
</head>

<body>
    <div class="container">
        <div class="page-header">
            <div class="logo">
                <a href="/"><img src="/static/img/logo.png" alt="Логотип" width="125px" title="Перейти на главную страницу"></a>
            </div>
            <ul class="menu">
                <li><a href="/" title="Перейти на главную страницу">Главная</a></li>
                <li><a href="/products/">Каталог</a></li>
                <li><a href="/contact/" title="Перейти на страницу контактов">Контакты</a></li>
            </ul>
        </div>

        <div class="content">
            <hr>
            <h1>Каталог товаров</h1>
            <div class="catalog">
                <div class="catalog_product">
                    <a href="#"><img src="/static/img/rtx_2080ti.jpg" alt="Видеокарта"></a><br>
                    <a href="#">MSI GeForce RTX 2080 Ti</a>
                </div>

                <div class="catalog_product">
                    <a href="#"><img src="/static/img/phone.jpg" alt="Телефон"></a><br>
                    <a href="#">Samsung Galaxy A51</a>
                </div>

                <div class="catalog_product">
                    <a href="#"><img src="/static/img/bork1.jpg" alt="Увлажнитель"></a><br>
                    <a href="#">Воздухоувлажнитель Bork A704</a>
                </div>
            </div>
        </div>

        <div class="page-footer">
            <hr>
            <p>&laquo;Технотрейд&raquo; &copy; &laquo;Все права защищены&raquo;</p>
        </div>
    </div>
</body>

</html>
