html, body {    
    margin: 0;
    background-color: #EAEAEA;
}

.container {
    width: 800px;
    margin: 0 auto;
    background-color: #f8f8f8;
}

.page-header {
    height: 150px;
    background-image: url(images/test2.jpg);
    background-size: cover;
}

.logo {
    width: 125px;
    height: 125px;
    float: left;
    padding: 5px 0 0 40px;
}

.menu {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding-top: 100px;
    padding-left: 0;
    text-align: right;
}

.menu li {
    padding: 2px;
    display: inline-block;
    width: 125px;
    text-align: center;
}

.menu li a {
    color: black;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.menu li a:hover {
    color: #FFCC33;
}

.content {
    padding: 0 5px;
    padding-bottom: 10px;
}

.content h1 {
    text-align: center;
}

.page-footer {
    font-size: 17px;
    height: 100px;
    padding: 0 5px;
    background-color: #FFCC33;
    text-align: right;
    clear: both;
}

.page-footer p {
    margin: 0;
    padding-top: 35px;
}

hr {
    margin: 0;
}

.map iframe {
    width: 100%;
    height: 374px;
}

.product_name {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: lightgray;
}

.brief_description {
    padding: 0 5px;
    overflow: hidden;
}

.brief_description h2, .specifications-header  h2 {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.detailed_description {
    clear: both;
}

.detailed_description h2, .appearance h2 {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.product_images {
    float: left;
}

.product_images a img {
    margin: 2px;
    outline: 2px solid darkslateblue;
}

.product_images a img:hover {
    outline: none;
}

.catalog {
    text-align: center;
}

.catalog_product {
    display: inline-block;
    width: 30%;
}

.catalog_product img {
    width: 125px;
    height: 125px;
    border: 1px solid darkslateblue;
    border-radius: 10px;
}

.catalog_product a {
    text-decoration: none;
}

input {
    margin: 2px;
    width: 200px;
    height: 20px;
    color: black;
    text-transform: capitalize;
}

input[type="email"]:focus {
    color: royalblue;
    background-color: lightyellow;
}

.product-info p:first-letter {
    text-transform: uppercase;
    font-size: 30px;
    color: darkslateblue;
}

.specifications {
    border-collapse: collapse;
    float: left;
    margin-bottom: 10px;
}

.specifications td {
    padding: 10px;
    border: 1px solid;
}

.specifications tr:nth-child(odd) {
    background-color: lightgray;
}

.price, .buy-button {
    overflow: hidden;
    text-align: center;
}

.price {
    padding: 30px 0 0 8px;
}

.buy-button {
    border: 2px solid lightgray;
    border-radius: 10px;
    width: 175px;
    height: 30px;
    margin: 0 auto;
    background-color: #FFCC33;
}

.buy-button a {
    padding-top: 5px;
    display: block;
    text-decoration: none;
    vertical-align: middle;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
}

.buy-button a:hover {
    color: blue;
}

.buy-button:active {
    background-color: #f8f8f8;
}